body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Topnav */

.topnav {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: #880808;
  font-size: smaller;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.image{
    background-color: black;
    padding: 17px 16px;
}

.topnav a.logout{
    float:right;
}

/* Hide the icon by default */
.topnav .icon {
  display: none;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a.logout {
    float: none;
  }
}

.checkout{
  background-color: #880808;
  width: 25%;
  margin: auto;
  color: white;
  padding: 5px 12px 12px 12px;
  margin-top: 10px;
  font-size: large;
  
}

.checkout input[type=date]{
  width: 100%;
  margin-bottom: 15px;
  font-size: large;
}

.checkout input[type=number]{
  font-size: medium;
}

.product-list{
  background-color: white;
  height: 100px;
  overflow-y: scroll;
}

.checkout button {
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
  margin-left: 0px;
  font-size: large;
  
}

.buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons div{
  margin-bottom: 10px;
}

/* Table */

.productsTableHeader{
    background-color: white;
}

.productsTable{
    background-color: white;
    height: 490px;
    overflow-y:scroll;
    color: black;
    font-size: medium;
}

.productsTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white; 
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productsTable button {
  font-size: small;
  cursor: pointer;
  background-color: #880808;
  color: white;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  
}

/* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        .checkout{
          height: 100%;
          width: 85%;
          margin-top: 10px;    
        }
        .checkout input[type=number]{
          width: 100%;
        }
        .checkout button {
          margin-top: 5%;
          margin-left: 0px;          
        }
        th, td {
          text-align: left;
          padding: 5px;
        }
        .productsTable{
          background-color: white;
          height: 500px;
          overflow-y:scroll;
        }
      }

