body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

h4, h5{
    font-weight: 100;
}

/* Topnav */

.topnav {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: #880808;
  font-size: smaller;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.image{
    background-color: black;
    padding: 17px 16px;
}

.topnav a.logout{
    float:right;
}

/* Hide the icon by default */
.topnav .icon {
  display: none;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a.logout {
    float: none;
  }
}

.majorSection {
    background-color: white;
    color: #880808;
    border: 1px solid #880808;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    width: 80%;
    padding: 15px;
    font-weight: 100;
    align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.horizontal{
  display:flex;
}

.minorSection{
    background-color: #880808;
    color: white;
    border: 1px solid grey;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.minorSection h5{
    margin: 0 0 5px 0;
}



/* General Modal Style */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Style */

.modalHorizontal {
  display:flex;
  
}

.modalHorizontal input[type=text], .modalHorizontal input[type=number], .modalHorizontal select{
  margin: -3px 12px;
  font-size: medium;
}

.modalHorizontal input[type=number] {
  width: 127px;
}

.modalHorizontal select{
  margin-right: 16px;
}

.confirmOrCancel {
  margin-top: 10px;
}

.confirmOrCancel button {
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
}



/* Table */

.productsTableHeader{
    background-color: white;
}

.productsTable{
    background-color: white;
    height: 250px;
    overflow-y:scroll;
    font-size: smaller;
    color: black;
    border: 1px solid #880808;
}

.productsTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white; 
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.charts-card {
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  color: black;
  margin: 0px 0px;
}

.charts-title { 
  display:flex;
  align-items: center;
  justify-content: center;

}

button {
  font-size: medium;
  cursor: pointer;
  background-color: #880808;
  color: white;
  border-radius: 5px;
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .minorSection {
    font-size: xx-small
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .minorSection {
    font-size: xx-small
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .minorSection {
    font-size: medium
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .minorSection {
    font-size: medium
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .minorSection {
    font-size: medium
  }
}