body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: #880808;
  font-size: smaller;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.image{
    background-color: black;
    padding: 17px 16px;
}

.topnav a.logout{
    float:right;
}

/* Hide the icon by default */
.topnav .icon {
  display: none;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a.logout {
    float: none;
  }
}


* {
  box-sizing: border-box;
}

.checkout{
  background-color: #880808;
  width: 50%;
  margin: auto;
  color: white;
  padding: 5px 12px 12px 12px;
  height: 570px;
  margin-top: 10px;
  
}

.checkout input[type=text]{
  width: 100%;
}

.checkout input[type=number]{
  font-size: medium;
}

.product-list{
  background-color: white;
  height: 100px;
  overflow-y: scroll;
}

.checkout button {
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  
}

/* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        .checkout{
          height: 100%;    
        }
        .checkout input[type=number]{
          width: 100%;
        }
        .checkout button {
          margin-top: 5%;
          margin-left: 0px;
          
        }
      }
