body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: #880808;
  font-size: smaller;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.image{
    background-color: black;
    padding: 17px 16px;
}

.topnav a.logout{
    float:right;
}

/* Hide the icon by default */
.topnav .icon {
  display: none;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a.logout {
    float: none;
  }
}

* {
  box-sizing: border-box;
}

input[type=text]{
  font-size: medium;
}

/* Modal Content */
.services {
  background-color: #880808;
  margin: 100px auto 0px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
  text-align: left;
  font-weight: lighter;
}

/* Modal Style */

.servicesHorizontal {
  display:flex;
  margin-bottom: 15px;
  
}

.servicesHorizontal input[type=text]{
  margin: -3px 12px;
  font-size: medium;
}

.servicesHorizontal input[type=number], .servicesHorizontal select{
  margin: -3px 12px;
  font-size: medium;
  width: 150px;
}

.confirmOrCancel {
  margin-top: 10px;
}

.services button {
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}

button {
  /* margin-top: 12.9px; */
  /* margin-left: 16px; */
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
}

/* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        .servicesHorizontal {
          display:block;
        }


        .servicesHorizontal input[type=number], .servicesHorizontal select{
          margin: 5px 0px;
          width: 100%;

        }

        .confirmOrCancel {
          margin-top: 10px;
        }

        .services button {
          font-size: medium;
          cursor: pointer;
          background-color: #222222;
          color: white;
          border-radius: 5px;
          display: inline;
          padding: 5px;
        }

        button {
          /* margin-top: 12.9px; */
          /* margin-left: 16px; */
          font-size: medium;
          cursor: pointer;
          background-color: #222222;
          color: white;
          border-radius: 5px;
        }
      }
