body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Topnav */

.topnav {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: #880808;
  font-size: smaller;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.image{
    background-color: black;
    padding: 17px 16px;
}

.topnav a.logout{
    float:right;
}

/* Hide the icon by default */
.topnav .icon {
  display: none;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a.logout {
    float: none;
  }
}

/* Table */

.productsTable{
    background-color: white;
    height: 490px;
    overflow-y:scroll;
}

.productsTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white; 
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .productsTable{
    height: 650px;
  }
  th, td {
    padding: 5px;
  }
}

/* Pill Navigation */

.pill-nav {
  width: 100%;
  background-color: #E5E4E2;
}


/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: #222222;
  color: white;
}

/* Filtering */

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.searchbar{
    display:flex;
    background-color: #880808;
    color:white;
}

.searchbar p {
    padding-left:16px
}

.searchbar input[type=text] {
  margin-top: 12.99px;
  margin-left: 10px;
  font-size: medium;
}

.searchbar select {
    margin-top: 15px;
    font-size: medium;
}

.category{
    padding-left:16px;
}

.form-inline {
  margin-top: 15px;
  margin-left: 20px;
  display:flex;
}

.form-inline input[type=date]{
  margin-right: 10px;
  
}

.form-inline button{
  font-size: medium;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border-radius: 5px;
}

/* Responsive breakpoint */
@media screen and (max-width: 768px) {
  .searchbar{
    display:block;  
  }
  .searchbar p {
    padding-left:15px
  }
  .searchbar input[type=text] {
    margin-top: -10px;
    margin-left: 15px;
    font-size: medium;
    width: 110px;
  }
  .searchbar select {
      margin-left:15px;
      margin-top: 0px;
      font-size: medium;
  }
  .category{
      padding-left:15px;
  }
  .searchbar div{
    margin: -5px -5px -5px -5px;
  }
  .form-inline{
    display:block;
  }
  .form-inline input[type=date]{
    margin-top: 15px;
    margin-right: 10px;
  }
  .searchbar label{
    margin-top: 15px;
  }

  .searchbar input[type=date] {
    margin-bottom: 15px;
    font-size: medium;
  }

  .form-inline button{
    margin-bottom: 10px;
  }
}

/* Hide toggle button on desktop */
.dropdown-toggle {
  display: none;
}

/* Responsive: show dropdown button on small screens */
@media screen and (max-width: 768px) {
  .dropdown-toggle {
    display: block;
    width: 100%;
    background-color: #880808;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
  }

  .dropdown-toggle:hover {
    background-color: #a00a0a;
  }

  /* Hide searchbar by default on mobile */
  .searchbar {
    display: none;
    background-color: #880808;
    padding: 10px 0;
  }

  /* When toggled open */
  .searchbar.show {
    display: block;
  }
}



